body{
    background-color: rgb(191, 191, 204);
    margin-left: 10px;
}

#specialText{
    font-style: italic;
}

input+label, form select{
    display: block;
}

form buttong{
    border: 1px solid black;
}

.greenButton{
    color:green;
    border: 1px solid yellow;
}